<div *ngIf="creditConditions?.length === 0" class="empty-state-box" >
  <gen-card>
 <ng-container body>
      <div class="flex justify-content-center align-items-center flex-column">
        <img
          src="assets/images/noResultsReturned.png"
          alt="No Data Found"
          class="w-7 h-8 "
        />
      </div>
    </ng-container>
  </gen-card>

</div>

<div *ngIf="creditConditions?.length > 0" >
<div class="credit-condition-container">

    <div class="header-row">
    <div class="condition-header">Condition</div>
    <div class="customer-header">Customer</div>
  </div>


  <div class="content-scrollable">
    <div class="data-row" *ngFor="let item of creditConditions">
      <div class="condition-content">{{ item.condition }}</div>
      <div class="customer-content">{{ item.customerName || '--' }}</div>
    </div>
  </div>
</div>

</div>

