<div class="gird">
  <div class="sm:col-12 md:col-12 lg:col-12">
    <textarea
      [rows]="6"
      [cols]="this.columns"
      class="p-fluid p-inputtextarea-responsive"
      autoResize="autoResize"
    ></textarea>
    <div>
      <text
        [mode]="'label'"
        [label]="'drawdown_Request_Additional_Info_Desc'"
        labelClass="text-xs"
      ></text>
    </div>
    <!-- <div>
      <text
        [mode]="'label'"
        [label]="'drawdown_Request_Additional_Info_Desc_current_Acc'"
        labelClass="text-xs"
      ></text>
    </div> -->
  </div>
</div>
