<!-- <p>bailment-asset-action works!</p> -->
<div class="flex-column cursor-pointer">
  <div
    class="flex justify-content-center action-item padding-class"
    (click)="showProductTransferRequest()"
  >
    {{ "product_transfer_request" | translate }}
  </div>
  <div
    class="flex justify-content-center action-item padding-class"
    (click)="showPurchaseAssetRequest()"
  >
    {{ "purchase_asset_request" | translate }}
  </div>
  <div
    class="flex justify-content-center action-item padding-class"
    (click)="showSwapRequest()"
  >
    {{ "swap_request" | translate }}
  </div>
</div>
