::ng-deep {
  .borrowGaurantors {
    gen-table {
      p-table {
        tr {
          td:nth-child(1) {
            padding-right: 0px !important;
          }

          th:nth-child(2),
          td:nth-child(2) {
            max-width: 75px;
          }
          th:nth-child(3),
          td:nth-child(3) {
            min-width: 81px;
          }
          th:nth-child(3),
          td:nth-child(3) {
            min-width: 81px;
          }
          th:nth-child(4),
          td:nth-child(4) {
            max-width: 121px;
          }
          th:nth-child(5),
          td:nth-child(5) {
            min-width: 38px;
          }
          th:nth-child(7),
          td:nth-child(7),
          th:nth-child(6),
          td:nth-child(6) {
            max-width: 40px;
          }
        }
      }
    }
  }

  .status-verified {
  color: green;
  }

  .status-start-verification {
    color: grey;
  }

  .status-other {
    color: gold;
  }

  .bankflow-status-verification-complete {
    color: green;
  }

  .bankflow-status-start-verification {
    color: grey;
  }

  .bankflow-status-other {
    color: gold;
  }

}
