<div>
  <div class="mt-5 flex justify-content-center font-bold">
    <div class="grid mx-2">
      <div class="col-2">
        <img src="assets/images/icon/success-Tick.svg" alt="Thank You" />
      </div>
    </div>
  </div>
  <div class="grid mx-2 flex justify-content-center">
    <div class="col-24 pt-2 flex justify-center">
      <!-- <p class="text-center font-bold text-lg">Thank You.</p> -->
      <text [mode]="'label'" [label]="'thank_you'" [labelClass]="'text-center font-bold text-lg text-green-600'"></text>
    </div>
  </div>
  <div class="mt-5 text-align-center">
    <p class="text-sm acknowledge col-8">
      {{ 'We_acknowledge_the_receipt_msg' | translate }}
      <strong>{{ referenceNumber }}</strong>
      {{ 'requested_email_sent_msg' | translate }}
      <strong>{{ email }}</strong>
      {{ 'requested_email_sent_msg2' | translate }}
    </p>
  </div>