.product-transfer-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-transfer-group label {
  margin-right: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: end;
}
::ng-deep  .p-dropdown-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 15rem;
}
 
.facilitydropdown {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
}
::ng-deep .p-dropdown-panel {
  top: auto !important;
  bottom: unset !important;
}
.customPartyDropdown.p-dropdown.p-focus {
  box-shadow: none !important;
  border-color: #000000 !important;
  outline: none !important;
}
// Allow text inside options to wrap 
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  white-space: normal !important;
  word-break: break-word !important;
  line-height: 1.2rem !important;
  padding: 0.5rem !important;
}
.btn-uniform {
  min-width: 160px;
  text-align: center;
}