<!-- <div>
  <div class="mt-5 flex justify-content-center font-bold">
    <div class="grid mx-2">
      <div class="col-2">
        <img src="assets/images/icon/thank-you.svg" alt="Thank You" />
      </div>
    </div>
  </div>
  <div class="grid mx-2 flex justify-content-center">
    <div class="col-6">
      <p class="text-center font-bold text-lg">Thank You.</p>
    </div>
  </div>
  <div class="mt-5 mx-8 mb-7">
    <text
      [mode]="'label'"
      [label]="'we_acknowledge_requested_msg'"
      [labelClass]="'text-sm text-center flex'"
    ></text>
  </div>
</div> -->
