<gen-card
  [headerText]="'Postal Address'"
  [cardType]="'border'"
>
  <ng-container body>
    <!-- <div class="grid">
      <div class="customerAddress-table col-4 pl-3 py-0">
        <geoapify-geocoder-autocomplete
          [(ngModel)]="physicalSeachValue"
          [placeholder]="'Search'"
          [skipIcons]="true"
          (placeSelect)="placeSelected($event, index)"
          [postprocessingHook]="postprocessingHook"
          (suggestionsChange)="suggestionsChanged($event)"
        ></geoapify-geocoder-autocomplete>
      </div>
    </div> -->
    <base-form
      #mainForm
      [formConfig]="formConfig"
      [mode]="mode"
      [id]="id"
      [data]="data"
      (valueChanges)="onValueChanges($event)"
      (formEvent)="onFormEvent($event)"
      (onInput)="onValueTyped($event)"
      (formButtonEvent)="onButtonClick($event)"
      (formReady)="onFormReady()"
      (onInput)="onValueTyped($event)"
      (onBlur)="onBlurEvent($event)"
      (onValueChange)="onValueEvent($event)"
    >
    </base-form>
  </ng-container>
</gen-card>
