.product-transfer-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-transfer-group label {
  margin-right: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: end;
}
.no-wrap {
  white-space: nowrap;
}
.p-input-icon-left {
  width: 110%; /* Ensure the icon container is full width */
}

::ng-deep  .p-dropdown-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 22rem;
}
 
::ng-deep .p-dropdown-panel {
  top: auto !important;
  bottom: unset !important;
}
// Allow text inside options to wrap 
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  white-space: normal !important;
  word-break: break-word !important;
  line-height: 1.2rem !important;
  padding: 0.5rem !important;
}
.btn-uniform {
  min-width: 160px;
  text-align: center;
}
.facility-dropdown-container {
  ::ng-deep {
    .dynamic-dropdown {
      width: fit-content !important;
      min-width: 10rem;
      max-width: 100%;
      transition: width 0.2s ease;
 
      .p-dropdown-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: auto;
        max-width: 100%;
      }
    }
  }
}