<div class="grid flex p-2 mb-5">
  <div class="col-12 md:col-2">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm'"
      [label]="'product_transfer_to_lbl'"
    ></text>
  </div>
  <div class="col-12 md:col-3">
    <div class="pt-2 flex gap-2 radio_label_class">
      <input
        class="productTransferToClass"
        type="radio"
        name="productTransfer"
        [(ngModel)]="selectedOption"
        value="DEMO"
        (change)="onRadioChange($event)"
      />
      <div [ngClass]="{ 'font-bold': selectedOption === 'DEMO' }">
        <text
          [mode]="'label'"
          [label]="'demonstrator'"
          [labelClass]="'text-md drawdown-label radio_label_class'"
          class=""
        ></text>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-4">
    <div class="pt-2 flex gap-2 radio_label_class">
      <input
        class="productTransferToClass"
        type="radio"
        name="productTransfer"
        [(ngModel)]="selectedOption"
        value="DPP"
        (change)="onRadioChange($event)"
      />
      <div
        [ngClass]="{ 'font-bold': selectedOption === 'DPP' }"
        class="no-wrap"
      >
        <text
          [mode]="'label'"
          [label]="'dpp'"
          [labelClass]="'text-md drawdown-label radio_label_class'"
          class=""
        ></text>
      </div>
    </div>
  </div>
</div>

<div class="grid flex pl-2">
  <div class="col-12 md:col-2">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm'"
      [label]="'facility_type'"
    ></text>
  </div>

  <div class="col-12 md:col-3 ml-2">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm'"
      [label]="'facility'"
    ></text>
  </div>

  <div class="col-12 md:col-3">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color pr-1 text-sm'"
      [label]="'search'"
    ></text>
  </div>
</div>

<div class="grid flex pl-1 pt-1">
  <div class="col-12 md:col-2">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text request-settle-text-color pr-1'"
      [value]="facilityType"
    ></text>
  </div>

  <div class="col-12 md:col-2 ml-2">
     <div class="">
      <p-dropdown
        [options]="subFailityOptionList"
        [(ngModel)]="selectedSubFacility"
        optionLabel="label"
        optionValue="value"
        (onChange)="subFacilityChange($event)"
      >
        <ng-template let-item pTemplate="item">
          <div [title]="item.label">{{ item.label }}</div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="col-12 md:col-4 col-offset-1">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Search by Asset ID, Rego or VIN"
        [(ngModel)]="assetToSearch"
        (input)="onSearch()"
        class="w-full"
      />
    </span>
  </div>

  <!-- <div class="col-12 md:col-2">
    <gen-button
      [btnLabel]="'search'"
      (click)="onSearch()"
      [btnWidth]="'full'"
      [disabled]="!selectedSubFacilityID"
    ></gen-button>
  </div> -->
</div>

<div *ngIf="showAssetList">
  <div class="lg:col-12 h-25rem mt-3">
    <gen-table
      [columns]="bailmentProductTransferRequestColumnDefs"
      [tableClass]="'border-round'"
      [headingClass]="'text-xs header-text-color'"
      [dataList]="bailmentsDataList"
      [tableStyle]="'stripped-rows'"
      [sortFlag]="'true'"
      (onCellClick)="onCellClick($event)"
      [headingClass]="'tableHeader text-xs  header-text-color'"
      [strippedOddClass]="'tableOddRow'"
      [strippedEvenClass]="'tableEvenRow'"
      [paginatorFlag]="true"
      [defaultRows]="5"
    ></gen-table>
    <div class="grid gap-2 flex justify-content-end mt-5">
      <div class="col-12 sm:col-4 md:col-2">
        <gen-button
          [btnLabel]="'cancel'"
          [btnWidth]="'full'"
          [btnType]="'border-btn'"
          (click)="onCancelClick()"
        ></gen-button>
      </div>
      <div class="col-12 sm:col-4 md:col-2">
        <gen-button
          [btnLabel]="'btn_lbl_proceed'"
          [btnWidth]="'full'"
          [disabled]="disablebProceedButtonFlag"
          (click)="onProceedClick()"
        ></gen-button>
      </div>
    </div>
  </div>
</div>
