.report-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

.report-list li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.report-list li:hover {
    background-color: var(--primary-lighter-color);
}

.report-list li:hover .icon-label {
    color: var(--primary-color);
}

.nav-item {
    margin: 6px 0 0 16px;
    color: #747474;
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap;
    display: block;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;

}