.createquickQuote {
  button {
    width: 100%;
    height: 2.5rem;
  }

  .udc-card .udc-card-body {
    padding: 1px 15px !important;
  }
}

.udc-card {
  margin-bottom: 0 !important;
}

.heading {
  margin-bottom: 10px;
  color: var(--label-color);
}

.primary-light-color {
  border-radius: 10px;
}

::ng-deep {
  .quick-quote {
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    .card-header {
      padding: 15px 20px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 1.4px solid var(--primary-color);
    }
    .card-body {
      min-height: 32rem; 
      height: auto;
      
      .calculateFor {
        .p-dropdown {
          border-bottom: none;
          text-align: right;
          .p-dropdown-trigger {
            display: none;
          }
        }
      }
      .border-0 {
        input {
          border-bottom: none;
        }
      }
      .placeholderLabel {
        .p-dropdown {
          margin-top: -10px;
        }
      }
    }
    p-inputNumber {
      input {
        width: 100%;
        text-align: right;
        background-color: transparent;
      }
    }

    .p-dropdown {
      background-color: transparent;
    }

    .close {
      button {
        height: 20px;
        width: 20px;
        margin-top: -3px;
        font-size: small;
        font-size: smaller;
        background-color: var(--background-color-primary);
      }
    }

    button {
      width: 100%;
    }
    small.p-error {
      float: right;
    }
  }

    .disable-dealer-dropdown {  
      cursor: none;
      pointer-events: none;
      label {
        color: var(--disable-color) !important;
      }
  }
}
