<div class="notification-bell">
    <p-overlayPanel #overlayPanel appendTo="{{ target }}" [style]="{}">
        <ng-content pTemplate="content">
            <div class="notification-bell-content p-3" [style]="{'overflow-y': 'auto', 'max-height': '40vh',}">
                <div class="p-fluid">
                    @if (!selectedNotification || selectedNotification=='errors'){
                    <div class="py-1 flex" *ngFor="let noti of errors">
                        <i class="fa-solid fa-circle-xmark text-red-400 text-base"></i>
                        <!-- {{ name }} -->
                        <label class="pl-2 text-sm notification-text">{{ noti }}</label>
                    </div>
                    @if (selectedNotification=='errors' && (errors?.length == 0 ||
                    !errors)){
                    <label class="text-sm font-italic">No Errors to display.</label>
                    } } @if (!selectedNotification || selectedNotification=='warnings'){

                    <div class="py-1 flex" *ngFor="let noti of warnings">
                        <i class="fa-solid fa-triangle-exclamation text-yellow-600 text-base"></i>
                        <label class="pl-2 text-sm notification-text">{{ noti }}</label>
                    </div>
                    @if (selectedNotification=='warnings' && (warnings?.length ==0 ||
                    !warnings)){
                    <label class="text-sm font-italic">No Warnings to display.</label>
                    } } @if (!selectedNotification || selectedNotification=='infos'){
                    <div class="py-1 flex" *ngFor="let noti of infos">
                        <i class="fa-solid fa-circle-info text-green-500 text-base"></i>
                        <label class="pl-2 text-sm notification-text">{{ noti }}</label>
                    </div>
                    @if (selectedNotification=='infos' && (infos?.length ==0 || !infos)){
                    <label class="text-sm font-italic">No Information to display.</label>
                    } }

                    <!-- @if (!selectedNotification || selectedNotification=='reminders'){
  
            <div class="py-1 flex" *ngFor="let noti of reminders">
              <i class="fa-solid fa-clock text-bluegray-500 text-base"></i>
              <label class="pl-2 text-sm notification-text">{{noti}}</label>
            </div>
            @if (selectedNotification=='reminders' && reminders?.length ==0){
            <label class=" text-sm font-italic">No Reminders to display.</label>
            }
            } -->

                    <!-- {{this.notificationValue}} -->
                    @if (!selectedNotification && this.notificationValue ==0){
                    <label class="text-sm font-italic">No Notifications to display.</label>
                    }
                </div>
            </div>
        </ng-content>
        <ng-content pTemplate="footer">
            <hr class="mt-0 pt-0" />
            <div class="notification-bell-footer m-3">
                <div class="flex justify-content-between">
                    <div class="flex gap-3">
                        <span class="cursor-pointer"><i class="fa-solid fa-circle-xmark text-red-400 text-base"></i>
                            <label class="text-sm pl-1 cursor-pointer"
                                (click)="selectedNotification = 'errors'">Errors</label></span>
                        <span class="cursor-pointer"><i
                                class="fa-solid fa-triangle-exclamation text-yellow-600 text-base"></i>
                            <label class="text-sm pl-1 cursor-pointer"
                                (click)="selectedNotification = 'warnings'">Warnings</label></span>
                        <span class="cursor-pointer"><i class="fa-solid fa-circle-info text-green-500 text-base"></i>
                            <label class="text-sm pl-1 cursor-pointer"
                                (click)="selectedNotification = 'infos'">Information</label></span>
                        <!-- <span class="cursor-pointer"><i class="fa-solid fa-clock text-bluegray-500 text-base"></i> <label
                class="text-sm pl-1 cursor-pointer hover:underline"
                (click)="selectedNotification = 'reminders'">Reminders</label></span> -->
                    </div>
                    <div class="text-sm cursor-pointer" (click)="dismissAll()">
                        Dismiss All
                    </div>
                </div>
            </div>
        </ng-content>
    </p-overlayPanel>
</div>
