/* You can add global styles to this file, and also import other style files */

$gutter: 0.5rem; //for primeflex grid system
@import "../../../node_modules/auro-ui/src/auro-ui-assets/styles/layout/layout.scss";
@import "../../../node_modules/auro-ui/src/auro-ui-assets/styles/global.scss";

/* PrimeNG */
@import "../../../node_modules/primeng/resources/primeng.min.css";
@import "../../../node_modules/primeflex/primeflex.scss";
@import "../../../node_modules/primeicons/primeicons.css";
@import "../../../node_modules/@geoapify/geocoder-autocomplete/styles/minimal.css";

// Theme Specific Variables
$primaryColor: #0f86b1;
$primaryDarkColor: #1e88e5;
$primaryDarkerColor: #1976d2;
$primaryLightColor: #d5edf5;
$primaryLighterColor: #fafdfe;
$headerbgColor: #ebf7fb;
$primaryTextColor: #ffffff;
$secondaryColor: #aab734;
$secondaryLightColor: #c7ffbe;
$backgroundColorPrimary: #ffff;
$backgroundColorDark: #000000;
$backgroundColorTransparentDark: #00000080;
$backgroundColorSecondary: #f3f3f3;
$backgroundColorSecondaryLight: #fafdfe;
$backgroundColorSecondaryDark: #0095db26;
$disableColor: #ccc;
$inputDisableColor: #000;
$labelColor: #666666;
$primaryBorderColor: #0095db;
$danger: #d80027;

$colors: (
    "blue": #2196f3,
    "green": #4caf50,
    "yellow": #fbc02d,
    "cyan": #00bcd4,
    "pink": #e91e63,
    "indigo": #3f51b5,
    "teal": #009688,
    "orange": #f57c00,
    "bluegray": #607d8b,
    "purple": #9c27b0,
    "red": #ff4032,
    "primary": #0f86b1,
);

:root {
    --primary-color: #0f86b1 !important;
    --primary-light-color: #d5edf5 !important;
    --primary-lighter-color: #fafdfe !important;
    --secondary-color: #aab734 !important;
    --secondary-light-color: #c7ffbe !important;
    --primary-text-color: #ffffff !important;
    --disable-color: #ccc !important;
    --input-disable-color: #000 !important;
    --background-color-primary: #ffff !important;
    --background-color-dark: #000000 !important;
    --background-color-transparent-dark: #00000080 !important;
    --background-color-secondary: #f3f3f3 !important;
    --background-color-secondary-light: #fafdfe !important;
    --background-color-secondary-dark: #0095db26 !important;
    --font-size: #{$fontSize};
    --card-shadow: #{$cardShadow};
    --header-bg-color: #{$headerbgColor};
    --label-color: #{$labelColor};
    --primary-border-color: #0095db !important;
    --danger-color: #{$danger};

    --login-bg-image: "assets/images/auth-background.png";
}

.p-button {
    min-width: auto;

    &.p-highlight {
        background: var(--primary-color);
    }
}

.p-button.p-button-outlined {
    background-color: transparent !important;
}

.p-button.p-button-text {
    background-color: transparent !important;
    background: transparent !important;
}

//auro UI
//_topbar.scss:18

.main-layout-topbar.expanded .layout-topbar {
    left: 16%;
    position: fixed;
}

.layout-sidemenu {
    z-index: 99;
    position: fixed;
    top: 3%;
}

//_topbar.scss:1
.main-layout-topbar {
    position: fixed;
    padding-top: 15px;

    .layout-topbar {
        position: unset;
        top: 2%;
        width: 92.8vw;
        margin-left: 6vw;
    }
}

//_content.scss:10
.layout-main {
    overflow: unset;
}

.layout-main-container {
    position: relative;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

.stepper-footer {
    position: absolute;
    bottom: 4rem !important;
    z-index: 2 !important;
    left: 0;
    right: 0;
    width: 100%;
}

.layout-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

@media (min-width: 992px) {
    .layout-wrapper.layout-static .layout-main-container {
        margin-left: 6vw;
    }
}

.floating-label-container {
    position: relative;
    width: 100% !important;
}

form {
    label {
        color: var(--label-color) !important;
    }
}

.grid.vertical-label {
    display: block !important;
}

.horizontal-label {
    display: flex !important;
}

.dashboard .lg\:col-10 {
    width: 81%;
}

.dashboard .lg\:col-2 {
    width: 19%;
}


