<div [class]="isFullWidth2 ? 'card pt-2 pb-0 sm:col-5 applicationOutcome' : 'card pt-2 pb-0 applicationOutcome'">
  <div class="grid">
    @if (!userRole?.functions?.includes('application_outcome')) {
      <div class="sm:col-12 md:col-7 border-right-1 text-center">
        <p class="text-sm font-bold mb-0 ml-4 mt-2">
          <text [mode]="'label'" [label]="'lbl_applicationOutcome'"></text>
        </p>
        <div class="flex justify-content-center flex-wrap">
          <div class="grid">
            <div class="col-4 pr-0 pl-4">
              <p-chart
                type="doughnut"
                [data]="data"
                [options]="options"
                width="100"
                style="height: 200px"
              />
            </div>

            <div class="col-8 my-auto">
              <div class="custom-legend">
                <div
                  class="legend-item text-xs"
                  *ngFor="let label of data.labels; let i = index"
                >
                  <span
                    class="legend-color"
                    [ngStyle]="{
                      'background-color': data.datasets[0].backgroundColor[i]
                    }"
                  ></span>
                  <span class="legend-text mt-2">
                    <text [mode]="'label'" [label]="label"></text>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
    
    @if (!userRole?.functions?.includes('online_application_status')) {
      <div 
        [class]="!userRole?.functions?.includes('application_outcome') ? 'sm:col-12 md:col-5' : 'sm:col-12 md:col-12'"
      >
        <p class="ml-2 text-sm font-bold">Online Application Status</p>
        <div [class]="isFullWidth2 ? 'flex justify-content-start gap-3 ' : 'grid justify-content-center'">
          <ng-container
            *ngFor="
              let data of applicationStatus;
              let i = index;
              let isLast = last
            "
          >
            <div
              [class]="isFullWidth2 ? 'flex-1' : (isLast ? 'sm:col-12 md:col-12 p-0' : 'sm:col-12 md:col-6 p-0')"
            >
              <div
                class="flex align-items-center border-0 border-round-lg p-1 justify-content-center"
              >
                <img src="{{ data?.img }}" alt="{{ data?.name }}" class="mr-2" />
                <div>
                  <p class="m-0">
                    {{ isLast ? (data?.count | currency) : data?.count }}
                  </p>
                  <p class="m-0 text-xs">{{ data?.name }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    }
  </div>
</div>
