::ng-deep {
  .p-error {
    text-wrap: auto;
  }

  .customer-role{
  font-size: 12px;
}
  .trust_details .p-error {
    text-wrap: auto;
    min-width: 100px;
  }
}

:host ::ng-deep .primary-nature-of-trust.col-4 {
  width: 36%;
}

:host ::ng-deep .source-of-wealth.col-3 {
  width: 20%;
}