.card-class {
  width: 700.33px;
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:nth-child(1) {
  .row-class-assetlink {
    font-weight: 700;
  }
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-assetlink {
  pointer-events: none !important;
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-assetlink
  .fa-circle-info {
  pointer-events: auto !important;
}
