.text-color {
  color: #6f6f6f;
}

.document-tile {
  width: 300px;
  padding: 12px; /* Adjust the padding as needed */
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.del-btn {
  display: flex;
  justify-self: end;
}

.fixed-height-card {
  height: 280px; /* Adjust as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  display: flex;
  flex-direction: column;
}

//Workaround for pagination dropdown values
::ng-deep .p-dropdown-panel {
  bottom: 100%;
  top: auto;
  position: absolute;
  z-index: 9999;
  transform: translateY(-5px);
}

.fixed-height-card {
  height: 350px; /* Adjust as needed */
  min-height: 200px;
}
