.tab-header-with-close {
  position: relative;
}

.close-tab-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #6b7280; 
  z-index: 1;
}

.edit-close-tab-icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #6b7280; 
  z-index: 1;
}

