 <div class="grid ">
  <div class="col-4  my-3 py-2 " >
    <span *ngIf="baseFormData?.customerNo">
      <label class=" mt-3 ">
        {{ "Have the Employment Details Changed?" }}
      </label>
      <p-inputSwitch
        class="ml-2 mt-3"
         [(ngModel)]="checkPreviousEmployees"
        (ngModelChange)="getvalue($event)"
        [style]="{ width: '2.7rem', height: '1rem' }"
      ></p-inputSwitch>
      <label class="ml-2 mt-3 " *ngIf="!checkPreviousEmployees">{{
        "No" 
      }}</label>
      <label class="ml-2 mt-3 " *ngIf="checkPreviousEmployees">{{
        "Yes" 
      }}</label>
      </span>
    </div>
  
 
    <div class="col-12 p-0">

    <app-sole-trade-current-employment [checkPreviousEmployees]="checkPreviousEmployees" (employementYearChange)="onEmployementYearChange($event)" ></app-sole-trade-current-employment>
       <br />
      <ng-container  *ngIf="isEnable && baseFormData?.customerNo" >
       
      <app-sole-trade-previous-employee></app-sole-trade-previous-employee>
      </ng-container>
    </div>
 
 </div>
 
