<div class="flex flex-column justify-center items-center text-center px-4 overflow: hidden !important;">
  <!-- Thank You Image -->
  <div class="mb-4">
    <img src="assets/images/icon/success-Tick.svg" alt="Thank You" />
  </div>

  <!-- Thank You Label -->
  <div class="mb-2">
    <text [mode]="'label'" [label]="'thank_you'" [labelClass]="'font-bold text-lg text-blue-600'"></text>
  </div>

  <!-- Full Sentence Acknowledgement Message -->
  <div class="max-w-2xl text-sm acknowledge leading-relaxed text-center max-w-2xl whitespace-pre-line">
  {{ message }}
</div>

</div>