.filter-card{
  a{
    font-size: 12px;
  }
    // height: 175px;
}
.filter-header {
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

 ::ng-deep .filter-checkbox.p-checkbox {
  display: flex;
  align-items: center;

  .p-checkbox-label {
    width: 60px;
    height: 20px;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 20px !important;
    color: #1D1D1B !important;
    margin-left: 0.4rem;
  }
  .p-checkbox-box {
    width: 14px !important;
    height: 14px !important;
  }
}


 .view-toggle {
    font-size: 12px;
    font-weight: 200;
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 0;
    margin-right: 0.25rem;
    transition: color 0.2s ease;

   
  }

.filter-footer {
  margin-top: 80px;
  padding: 10px;
  display: flex;
 justify-content: flex-end;
  align-items: center;
  position: relative; 
}

.center-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-icon a {
  display: inline-block;
}
.filter-divider {
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
  border-radius: 4px;
  margin: 1rem 0;
  display: block;
}
.card .filter-divider {
  max-width: calc(100% - 2rem); 
  margin: 1rem auto;
}


