:host ::ng-deep .p-dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust the width as needed */
}

.p-hidden {
  display: none;
}
.disabled {
  pointer-events: none;
}
