// .uploadDocument {
//   ::ng-deep {
//     .p-card {
//       margin-bottom: 1rem;
//     }

//     .p-checkbox .p-checkbox-box {
//       border-radius: 3px !important;
//     }

//     p-checkbox {
//       vertical-align: text-top;
//     }

//     .upload-btn {
//       button {
//         border: 1px dashed var(--primary-color) !important;
//         background-color: var(--background-color);
//         cursor: pointer;
//         font-size: var(--font-size-12);
//         color: var(--primary-color);
//         padding: 8px 12px;
//       }

//       .p-button:disabled {
//         border: 1px dashed #7ecfe7 !important;
//         color: var(--secondary-color-light) !important;
//       }

//       .p-disabled * {
//         color: #7ecfe7 !important;
//       }
//     }
//   }

 
//   .upload-grid {
//     align-items: center;
//   }

//   .success {
//     color: green;
//   }

//   .pending {
//     color: rgb(214, 175, 0);
//   }
//   .delete-btn{
//     color: red;
//   }
// }

// .uploadDocPreview {
//   img {
//     width: 100%;
//     object-fit: contain;
//   }
// }


// .upload-section {
//   display: flex;
//   justify-content: center;
//   height: 100%;
  
// }

// .divider-class{
//   color:  #007bff;
// }
// .upload-box {
//   width: 100%;
//   padding: 20px;
//   border: 1px dashed #007bff;
//   border-radius: 8px;
//   text-align: center;
// }

.long-hr {
  margin-top: -0.9rem;
}

.Generated-hr {
  border: none;
  /* Remove default border */
  height: 13px;
  
  margin: 5px 0 10px 0;
  /* Optional: Add margin for spacing around the line */
  width: 18%;
  margin-left: 20% !important;
  border-radius: 2px;
  position: relative;
  z-index: 2;
}

.active-label {
  font-weight: bold;
  border-bottom: solid 5px var(--primary-color);
  ;
}

.browse-files-btn {
  background-color: var(--surface-300);  /* Background color */
  color: #000;  /* Text color */
  border: 1px solid var(--primary-color);
  padding: 11px 70px;
  cursor: pointer;
  border-radius: 5px;
}

.full-width-divider {
  width: 100%;
  border-bottom: 1px solid #ccc; /* Adjust the border color as needed */
 
}

.scrollabel{
  overflow-x: auto;
}

// .upload-info {
//   font-size: 12px;
//   color: #777;
// }

// .action-buttons {
//   display: flex;
//   justify-content: space-around;
//   margin-top: 20px;
// }

// .btn {
//   background-color: white;
//   border: none;
//   color: #0095DB
//   ;
//   font-size: 14px;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
// }

// .btn i {
//   margin-right: 5px;
// }

// .btn:hover {
//   text-decoration: underline;
// }
