<div class="grid flex pl-2">
  <div class="col-12 md:col-2">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm'"
      [label]="'facility_type'"
    ></text>
  </div>

  <div class="col-12 md:col-3">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm'"
      [label]="'facility'"
    ></text>
  </div>
  <div class="col-12 md:col-3">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm'"
      [label]="'program'"
    ></text>
  </div>

  <div class="col-12 md:col-3">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text label-color text-sm pr-1'"
      [label]="'search'"
    ></text>
  </div>
</div>

<div class="grid flex pl-1 pt-1">
  <div class="col-12 md:col-2">
    <text
      [mode]="'label'"
      [labelClass]="'request-settle-text request-settle-text-color pr-1'"
      [value]="facilityType"
    ></text>
  </div>

  <div class="col-12 md:col-3">
    <div class="">
      <p-dropdown
        [options]="subFailityOptionList"
        [(ngModel)]="selectedSubFacility"
        (onChange)="subFacilityChange($event)"
        optionLabel="label"
        optionValue="value"
        placeholder="Select Facility"
        appendTo="body"
        class="w-full customDropdown"
      >
        <ng-template let-item pTemplate="item">
          <div [title]="item.label">{{ item.label }}</div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="col-12 md:col-3">
    <div class="">
      <p-dropdown
        [options]="programOptions"
        [(ngModel)]="selectedProgram"
        (onChange)="programChange($event)"
        optionLabel="label"
        optionValue="label"
        placeholder="Select Program"
        appendTo="body"
        class="w-full customDropdown"
      >
        <ng-template let-item pTemplate="item">
          <div [title]="item.label">{{ item.label }}</div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="col-12 md:col-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Search by Asset ID, Rego or VIN"
        [(ngModel)]="assetToSearch"
        (input)="onSearch()"
        class="search-inp"
      />
    </span>
  </div>
</div>

<div *ngIf="showAssetList">
  <div class="lg:col-12 h-25rem mt-2">
    <gen-table
      [columns]="bailmenSwapRequestColumnDefs"
      [headingClass]="'text-xs header-text-color'"
      [tableClass]="'border-round'"
      [dataList]="bailmentsDataList"
      [tableStyle]="'stripped-rows'"
      [sortFlag]="'true'"
      (onCellClick)="onCellClick($event)"
      [headingClass]="'tableHeader text-xs header-text-color'"
      [strippedOddClass]="'tableOddRow'"
      [strippedEvenClass]="'tableEvenRow'"
      [paginatorFlag]="true"
      [defaultRows]="5"
    ></gen-table>
    <div class="grid gap-2 flex justify-content-end mt-5">
      <div class="col-12 sm:col-4 md:col-2">
        <gen-button
          [btnLabel]="'cancel'"
          [btnWidth]="'full'"
          [btnType]="'border-btn'"
          (click)="onCancelClick()"
        ></gen-button>
      </div>
      <div class="col-12 sm:col-4 md:col-2">
        <gen-button
          [btnLabel]="'btn_lbl_proceed'"
          [btnWidth]="'full'"
          [disabled]="!disablebProceedButtonFlag"
          (click)="onProceedClick()"
        ></gen-button>
      </div>
    </div>
  </div>
</div>
