.quick-actions-child-card {
  width: 340px;
  // 23.25rem;
  height: 101px;
  // 7.313rem;
  top: 0.75rem;
  left: 0.563rem;
  border-radius: 0.375;
  background-color: #ececec;
}

.label-text {
  width: 19.75rem;
  height: 3.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.label-text {
  color: #292929;
  font-family: Verdana;
  font-weight: 400px;
  letter-spacing: -2%;
  line-height: 24px;
  font-size: 14px;
}
.user-login-detail {
  color: #292929;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: -2%;
}

div a {
  font-size: 12px;
}

.currency-amount {
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -2%;
}

.amounts {
  color: #000000;
  padding-top: 10%;
  text-align: left;
  font-size: 12px;
}

.text-color {
  color: #6f6f6f;
}
