<div class="my-3">
  <gen-card>
    <ng-container body>
      <ng-container *ngIf="currentPosition?.length > 0">
        <div class="grid px-3">
          <div class="sm:col-12 md:col-7 lg:col-5">
            <div class="flex align-items-center justify-content-between mb-3">
              <p class="text-base font-bold m-0" style="white-space: nowrap;">
                <text [mode]="'label'" [label]="'lbl_currentPosition'"></text>
              </p>
              <small class="label-color text-sm pr-6">
                as of {{ today | date : "dd/MM/yyyy" }}
              </small>
            </div>

            <ng-container *ngIf="!showOnlyRemainingTerm">
              <p class="label-color">
                <span style="display: inline-flex; align-items: center; gap: 0.25rem;">
                  <text [mode]="'label'" [label]="'lbl_grossBalance'"></text>
                  <i
                    class="far fa-circle-info text-primary-color cursor-pointer"
                    pTooltip="The total of all remaining payments due under a Contract plus any other amount due thereunder."
                    tooltipPosition="right"
                  ></i>
                </span>
                <span class="float-right">{{
                  currentPosition[0]?.grossBalance | currency
                }}</span>
              </p>

              <p class="label-color">
                Loan Balance
                <span class="float-right">{{
                  currentPosition[0]?.loanBalance | currency
                }}</span>
              </p>

              <p class="label-color">
                Current interest rate
                <span class="float-right">{{ currentPosition[0]?.currentIntresetRate }}%</span>
              </p>

              <p class="label-color">
                Next Reprice Date
                <span class="float-right">{{
                  currentPosition[0]?.nextRepriceDate | date : "dd/MM/yyyy"
                }}</span>
              </p>

              <p class="label-color">
                Remaining Term (Months)
                <span class="float-right">{{
                  currentPosition[0]?.remainingTerm
                }}</span>
              </p>
            </ng-container>

            
            <ng-container *ngIf="showOnlyRemainingTerm">
              <p class="label-color">
                Remaining Term (Months)
                <span class="float-right">{{
                  currentPosition[0]?.remainingTerm
                }}</span>
              </p>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </gen-card>
</div>