<div class="drawdown-card-bg">
  <base-form
    #mainForm
    [formConfig]="formConfig"
    (formReady)="onFormReady()"
    (valueChanges)="onValueChanges($event)"
    (formEvent)="onFormEvent($event)"
    (formButtonEvent)="onButtonClick($event)"
    (onValueChange)="onValueEvent($event)"
  ></base-form>
</div>
<!-- <div class="mt-2 p-2 w-full">
  <p class="request-settle-text font-bold text-sm">
    {{ "additional_information" | translate }}
  </p>
  <textarea
    [rows]="4"
    [cols]="115"
    class="w-full p-fluid p-inputtextarea-responsive border-round-sm"
    (input)="onTextareaClick($event)"
  ></textarea>
</div> -->
<div>
  <text
    [mode]="'label'"
    [label]="
      customerName +
      '  ' +
      ('gives_notice_pursuant_to_its_floorplan_facility_agreement_floating'
        | translate)
    "
    [labelClass]="'text-xs text-gray-600'"
    [valueClass]="'text-xs text-gray-600'"
  ></text>
  <div>
    <text
      mode="label"
      class="text-xs text-gray-600 paragraph-format"
      [label]="'floating_floorplan_drawdown_request_pre_submission_message'"
    ></text>
  </div>
  <div class="flex">
    <text
      [mode]="'label'"
      [label]="
        ('on_behalf_of' | translate) +
        username +
        '  ' +
        ('on_behalf_Of' | translate) +
        customerName
      "
      [labelClass]="'text-xs text-gray-600'"
      [valueClass]="'text-xs text-gray-600'"
    ></text>
  </div>
</div>
<div class="grid gap-2 flex justify-content-end mt-4">
  <div class="col-2">
    <gen-button
      [btnWidth]="'full'"
      [btnType]="'non-bg-btn'"
      [btnLabel]="'cancel'"
      (onClick)="showDialogCancel()"
    ></gen-button>
  </div>
  <div class="col-2">
    <gen-button
      [btnWidth]="'full'"
      [btnType]="'bg-btn'"
      [btnLabel]="'submit'"
      (onClick)="submitDrawdownData()"
    ></gen-button>
  </div>
</div>
