<gen-card [headerText]="'Contact Details'" [cardBgColor]="'--background-color-secondary'" [cardType]="'non-border'">
  <ng-container body>
    <div class="grid p-0 m-0">
      <div class="col-4 mt-0 pt-0 pl-0">
        <form [formGroup]="phoneForm" [class.disabled]="isDisabled()">
          <ng-container formArrayName="phone">
            <div *ngFor="let phone of phone.controls; let i = index">
              <div [formGroupName]="i" class="mt-3">
                <span class="p-float-label -ml-2"
                  ><label class="text-600">
                    {{ businessLabel[i]}}
                    <!-- {{ getPhoneLabel(phone.get('type').value) }} -->
                    <span class="text-red-500" *ngIf="i === 0">* </span></label
                  >
                </span>
                <div class="grid">
                  <div class="col-3 p-fluid">
                    <p-dropdown
                      [options]="countryCodeOptionsList"
                      formControlName="code"
                      optionLabel="label"
                      [filter]="countryCodeOptionsList?.length > 5"
                      [editable]="true"
                      (onChange)="onCountryCodeChange($event, i)"
                      optionValue="value"
                    ></p-dropdown>
                    <div
                      class="p-error"
                      *ngIf="
                        phone.get('code').invalid && (phone.get('code').touched || phone.get('code').dirty)
                      "
                    >
                    <small *ngIf="phone.get('code')?.invalid && (phone.get('code')?.touched || phone.get('code')?.dirty)" class="p-error">
                      {{getPhoneErrorMessage(i, 'code')}}
                    </small>
                      <!-- <small *ngIf="phone.get('code').errors?.required"
                        >Code is required.</small -->
                      <!-- > -->
                    </div>
                  </div>

                  <div class="col-2 w-7rem">
                    <input
                    #areacodeInput
                      type="text"
                      placeholder="Area code"
                      pInputText
                      formControlName="areacode"
                     (input)="onAreaCodeInputChange($event, i, valueInput)"
                      class="w-full"
                      />
                      <!-- [maxlength]="getAreaCodeMaxLength(i)" -->
                      <!-- placeholder="Area Code" -->
                    <div
                      class="p-error"
                      *ngIf="
                        phone.get('areacode').invalid &&
                        (phone.get('areacode').touched || phone.get('areacode').dirty)
                      "
                    >
                    <small *ngIf="phone.get('areacode')?.invalid && (phone.get('areacode')?.touched || phone.get('areacode')?.dirty)" class="p-error">
                      {{getPhoneErrorMessage(i, 'areacode')}}
                    </small>
                      <!-- <small *ngIf="phone.get('areacode').errors?.required"
                        >Area Code is required.</small -->
                      <!-- > -->
                    </div>
                  </div>
                  <div class="m-2 mt-3">-</div>

                  <div class="col-5">
                    <input
                      #valueInput
                      type="text"
                      pInputText
                      formControlName="value"
                      (input)="getvalue()"
                      class="w-full"
                      placeholder="Phone number"
                    />
                      <!-- [maxlength]="phone.get('code')?.value === '+91' ? 10 : 
                                  (phone.get('code')?.value === '+61' ? 8 : 
                                  (phone.get('code')?.value === '+64' ? 8 : 15))" -->
                    <div
                      class="p-error"
                      *ngIf="
                        phone.get('value').invalid && (phone.get('value').touched || phone.get('value').dirty)
                      "
                    >
                    <small *ngIf="phone.get('value')?.invalid && (phone.get('value')?.touched || phone.get('value')?.dirty)" class="p-error">
                      {{getPhoneErrorMessage(i, 'value')}}
                    </small>
                      <!-- <small *ngIf="phone.get('value').errors?.required"
                        >Phone number is required.</small
                      > -->
                    </div>
                  </div>

                  <div class="col-1 mt-2" *ngIf="i != 0">
                    <gen-button
                      [btnIcon]="'fa fa-trash'"
                      [btnType]="'non-bg-btn'"
                      (onClick)="removePhone(i)"
                      class="mt-2"
                    ></gen-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="pt-3 -ml-3">
              <gen-button
                *ngIf="this.phone.length < 3"
                [btnLabel]="'Add Other Number'"
                [btnType]="'plus-btn'"
                (onClick)="addOtherPhone()"
              ></gen-button>
            </div>
          </ng-container>
        </form>
      </div>
      <div class="col-4 -mt-4">
        <app-business-email-contact-details></app-business-email-contact-details>
      </div>
      <div class="col-4 -mt-4">
        <app-business-website-contact-details></app-business-website-contact-details>
      </div>
    </div>
  </ng-container>
</gen-card>
