.heading {
  color: var(--label-color);
}

::ng-deep {
  .custom-table {
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 9px;
      tbody {
        tr {
          td {
            padding: 10px;
          }
          td:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
          }
          td:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }
}

.table-data-cell {
  background-color: var(--background-color-secondary);
}

.footer{
  position: fixed;
    bottom: 2%;
    width: 93%;
}

::ng-deep td.align-left {
  text-align: left !important;
}


::ng-deep td.align-left .flex {
  justify-content: flex-start !important;
}
  


::ng-deep .custom-table
{
  .p-datatable 
  {
    thead th:first-child,
    tbody td:first-child
    {
      padding-left: 4rem !important; 
    }

    thead th:last-child,
    tbody td:last-child
    {
       padding-right: 3rem !important;
    }
    }
  
  
}


::ng-deep .custom-table .p-datatable {

  .col-term{
  padding-left: 3rem ;
}

.col-payment {
  padding-left: 3rem ;
}

.col-loanType  {
  padding-left: 3rem ;
}

.col-loanNo {
  padding-left: 3rem ;
}

.col-originator {
  padding-left: 2rem ;
}

 .col-amount {
  padding-right: 0 ; 
}

}

.alert {
    display: flex;
    align-items: flex-start;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
    margin-bottom: 1rem;
}

.alert-error {
    background-color: #fdecea;
    border-color: #d32f2f;
    color: #d32f2f;
}
::ng-deep .custom-table .p-datatable thead .col-amount .header-content {
  justify-content: flex-end !important; 
}
