.card-class {
  width: 700.33px;
}
.table-class {
  color: black;
  background-color: blue;
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-fixedfloorplan {
  pointer-events: none !important;
}
::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-fixedfloorplan
  .fa-circle-info {
  pointer-events: auto !important;
}