<ng-container *ngIf="pageType === 'login'">
    <form class="form loginForm">
        <div class="my-2 login-btn">
            <div class="mt-3 text-center">
                <gen-button [btnLabel]="'Login with FIS'" (onClick)="loginWithOidc()"></gen-button>
            </div>
        </div>
        <div class="text-center">
            <p class="text-xs mt-4">
                By accessing UDC Live! you confirm you are an authorised user and have
                agreed to the application
                <a href="javascript:void(0)" class="text-color-primary text-decoration-none"
                    routerLink="/authentication/terms-condition">Conditions of Use</a>.
                Unauthorised use may be referred to the
                appropriate authorities.
            </p>
        </div>
    </form>
</ng-container>