.layout-main-container {
  background-position: center;
  background-size: cover;

  ::ng-deep {
    .info-panel {
      p {
        color: var(--background-color-primary);
      }

      .p-carousel-indicators {
        padding: 1rem 0px;
        justify-content: start;

        .p-carousel-indicator {
          margin-right: 0.5rem;
          margin-top: auto !important;
          margin-bottom: auto !important;

          button {
            width: 50px;
            height: 3px;
            border-radius: 30px;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
          }
        }

        .p-carousel-indicator.p-highlight button {
          background: var(--primary-color);
          color: #fff;
          height: 6px;
        }
      }
    }
  }
}

form {
  background-color: var(--background-color-transparent-dark);
  padding: 2rem;
  border-radius: 8px;

  input {
    width: 100%;
    background-color: transparent;
    color: var(--background-color-primary);
  }

  .password {
    position: relative;

    .showPassword {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  ::ng-deep {
    .p-divider-content {
      border-radius: 5px;

      p {
        color: var(--background-color-dark) !important;
      }
    }
  }

  p,
  i,
  label {
    color: var(--background-color-primary);
  }
}