<div class="loan-date-dialog">
  <div class="dialog-body">
    <p class="msg-main">Are you sure you want to withdraw this quote?</p>
    <p class="msg-main">You can view the quote in your Expired Listing</p>
    <p class="bottom-msg">Do you want to continue?</p>
    <div class="action-buttons">
      <button pButton label="No, Go back" class="no-btn p-button-outlined" (click)="onNo()">No, Go back</button>
      <button pButton label="Yes, Cancel" class="yes-btn" (click)="onYes()">Yes, Cancel</button>
    </div>
  </div>
</div>