<div class="layout-sidebar">
    <nav class="sidebar">
        <ul>
            <!-- <li (click)="layoutService.onMenuToggle()" class="nav-item">
            <i class="fa fa-xmark"></i>
            <span class="icon-label">Close</span>
      </li> Add if required, close button. Exits by clicking outside sidebar at the moment.-->
            <li (click)="onIconClick('menu')" class="nav-item">
                <i class="fa fa-bars"></i>
                <span class="icon-label">Menu</span>
            </li>
            <li (click)="navigate('/dashboard')" class="nav-item">
                <i class="fa fa-line-chart"></i>
                <span class="icon-label">Dashboard</span>
            </li>
            <!-- <li (click)="onIconClick('settings')" class="nav-item">
        <i class="fa fa-cog"></i>
        <span class="icon-label">Settings</span>
      </li>
      <li (click)="onIconClick('database')" class="nav-item">
        <i class="fa fa-database"></i>
        <span class="icon-label">Database</span>
      </li> -->
        </ul>
    </nav>
</div>
