

::ng-deep .ppsramont .p-inputtext {
    padding-left: 1px !important;
    text-align: left !important;
    margin-left: 2px;
    color: rgba(102, 102, 102, 1);
  border: none !important;
  border-bottom: none !important;
  outline: none !important;

}

