<base-form
  #mainForm
  [formConfig]="formConfig"
  [mode]="mode"
  [id]="id"
  [data]="data"
  (valueChanges)="onValueChanges($event)"
  (formEvent)="onFormEvent($event)"
  (formButtonEvent)="onButtonClick($event)"
  (formReady)="onFormReady()"
  (onInput)="onValueTyped($event)"
  (onBlur)="onBlurEvent($event)"
  (onValueChange)="onValueEvent($event)"
>
<ng-container text-select-overlay-content>
  <p-listbox
    #assetListbox
    [options]="assetOptionsList"
    [(ngModel)]="selectedAsset"
    optionLabel="label"
    optionValue="value"
    [filter]="true"
    [style]="{ width: '30rem' }"
    (onChange)="selectAsset(); mainForm.textSelectOP.hide();clearSerach();"
  />
  <!-- [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}" -->
</ng-container>
</base-form>
