.insurance-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
    margin-bottom: 20px;
  
    th, td {
      border: 0.5px solid #ccc; 
      padding: 10px;
      text-align: left;
      font-size: 12px;
      color: #000;
    }
  
    th {
      background-color: #ebf7fb;
      font-weight: bold;
      text-align: center;
    }
    th:first-child {
      border-top-left-radius: 8px;
    }
    th:last-child {
      border-top-right-radius: 8px;
    }
    select {
      width: 100%;
      padding: 3px;
      font-size: 14px;
      border: none; 
      border-bottom: 1px solid #ccc; 
      background-color: transparent; 
    }
  
    td[colspan="4"] {
      text-align: center;
      font-weight: bold;
      padding: 15px;
    }

    .signature-section {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      .signature-date, .borrower-signature {
        flex: 1;
        margin-right: 20px;
  
        label {
          display: block;
          font-size: 14px;
          margin-bottom: 5px;
        }
  
        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          font-size: 14px;
        }
      }
  
      .borrower-signature {
        margin-right: 0;
      }
    }
  
  }
  

  .main {
    overflow-y: auto;
    max-height: 70vh;
  }
  

  