<div class="sm:col-12 md:col-12 lg:col-12">
  <div class="flex justify-content-end flex-wrap">
    <div>
      <gen-button
        [btnType]="'non-bg-btn'"
        [btnWidth]="'full'"
        [btnLabel]="'export'"
        class="text-xs"
        [iconPos]="'left'"
        [btnIcon]="'pi pi-cloud-upload'"
        (click)="export()"
      ></gen-button>
    </div>
    <div>
      <gen-button
        [btnType]="'non-bg-btn'"
        [btnWidth]="'full'"
        [btnLabel]="'print'"
        class="text-xs"
        [iconPos]="'left'"
        [btnIcon]="'pi pi-print'"
        (click)="onPrint()"
      ></gen-button>
    </div>
  </div>
</div>
<div class="sm:col-12 md:col-12 lg:col-12 border-round-md">
  <gen-table
    #dt
    [columns]="paymentSummaryColumnDefs"
    [headingClass]="'tableHeader text-xs header-text-color'"
    [dataList]="paymentSummaryDataList"
    [tableClass]="'border-round'"
    [tableStyle]="'stripped-rows'"
    [bodyClass]="'text-xs'"
    [sortable]="true"
    [filter]="true"
    [paginatorFlag]="true"
  ></gen-table>
</div>
