<ng-container *ngIf="isReady">
  <lib-stepper
    #libStepper
    [steps]="steps"
    (onChange)="changeStep($event)"
    (onSubmit)="onSubmit()"
    [activeStep]="activeStep"
    [tabNavigation]="true"
    [hideDraft]="hideDraft"
    [hideNext]="hideNext"
    [hideSubmit]="hideSubmit"
    [customLabel]="customLabel"
    (onCancel)="cancel()"
  >
    <div class="mb-2">
      <app-quote-originator></app-quote-originator>
    </div>
    <div class="grid">
      <div class=" hlf sm:col-12 md:col-6 lg:col-5">
        <gen-card >
          <ng-container body>
            <app-asset-summary (conditionDDValue)="conditionDDValue = $event"></app-asset-summary> @if (activeStep == 0){ @if
            (formData?.productCode == 'AFV'){
            <app-afv-details></app-afv-details>
            }
            <app-finance-lease></app-finance-lease>
           <app-quote-details [conditionDDValue]="conditionDDValue"></app-quote-details> @if (formData?.productCode == 'TL'){
            <app-additional-funds></app-additional-funds>}
            @if(!(formData?.productCode ==
            'FL'||formData?.productCode == 'OL')){<app-less-deposit
            ></app-less-deposit>}
            <app-other-charges></app-other-charges>
            } @if (activeStep == 1 || activeStep == 2){
            <app-payment-summary-deatils></app-payment-summary-deatils>
            }
          </ng-container>
        </gen-card>
        <!-- *ngIf="formData?.productCode == 'TL' || formData?.productId == 59" -->

        <div
          class=""
          *ngIf="formData?.productCode == 'TL' || formData?.productId == 59"
        >
          @if (activeStep == 1 || activeStep == 2){
          <app-dealer-disbursment-details></app-dealer-disbursment-details>}
        </div>
      </div>
      <div class="sm:col-12 md:col-6 lg:col-7">
        @if (activeStep == 0){
        <ng-container>
           @if (!userRole?.functions?.includes('dealer_finance_widget')) {
          <app-dealer-finance ></app-dealer-finance>
           }
        </ng-container>
        <div class="mt-3">
          <app-payment-summary></app-payment-summary>
        </div>
         <div class="mt-3" *ngIf="formData?.productCode == 'OL'">
          <app-excess-allowance></app-excess-allowance>
        </div>
       
        <div class="mt-3" *ngIf="formData?.productCode != 'OL' && formData?.productCode != 'FL'">
          <app-standard-payment-options></app-standard-payment-options>
        </div>
        
        <div class="mt-3">
          <app-payment-schedule></app-payment-schedule>
        </div>
        <!-- <ng-container>
          <app-payment-method class="mt-2"></app-payment-method>
        </ng-container> -->
        <app-rental-schedule></app-rental-schedule>
        } @if (activeStep == 1){ <app-borrowers-guarantors
        ></app-borrowers-guarantors>
        @if(showSupplier){
        <app-add-supplier></app-add-supplier>
        }
      

        @if(this.formData?.customerSummary?.length > 0){
        <app-document-tabview></app-document-tabview>
        }
        @if (this.formData?.customerSummary?.length > 0){
        <div class="mt-3">
          <app-notes></app-notes>
        </div>
        } 
       } @if (activeStep == 2){
        <!-- <app-additional-approval></app-additional-approval> -->
        @if (activeStep == 2){ <app-borrowers-guarantors
        ></app-borrowers-guarantors> }
        <app-document-tabview></app-document-tabview>

        <div class="mt-3">
          <app-notes></app-notes>
        </div>

        <!-- <app-document-type></app-document-type> -->
        }
      </div>
    </div>
  </lib-stepper>
</ng-container>

<!-- <div class="grid mt-2 no-gutter" *ngIf="activeStep == 0">
  <div class="sm:col-12 md:col-6 lg:col-5">
    <div class="card">
      <div class="card-body">
        <app-asset-summary></app-asset-summary>
        <app-afv-details></app-afv-details>
        <app-finance-lease></app-finance-lease>
        <app-quote-details></app-quote-details>
        <p-divider type="dashed"></p-divider>
        <app-additional-funds></app-additional-funds>
        <app-less-deposit></app-less-deposit>
        <p-divider type="dashed"></p-divider>
        <app-other-charges></app-other-charges>
      </div>
    </div>
  </div>
  <div class="sm:col-12 md:col-6 lg:col-7">
    <ng-container>
      <app-dealer-finance></app-dealer-finance>
    </ng-container>
    <div class="mt-2">
      <app-excess-allowance></app-excess-allowance>
    </div>
    <div class="mt-2">
      <gen-card [headerText]="'Payment Summary'">
        <ng-container body>
          <app-payment-summary></app-payment-summary>
        </ng-container>
      </gen-card>
    </div>
    <div class="mt-2">
      <app-standard-payment-options></app-standard-payment-options>
    </div>
    <div class="mt-2">
      <app-payment-schedule></app-payment-schedule>
    </div>
    <app-rental-schedule></app-rental-schedule>
  </div>
</div>
<div class="grid mb-2 no-gutter" *ngIf="activeStep == 1">
  <div class="sm:col-12 md:col-6 lg:col-5">
    <div class="card">
      <div class="card-body">
        <app-asset-summary></app-asset-summary>
        <app-payment-summary-deatils></app-payment-summary-deatils>
      </div>
    </div>
  </div>
  <div class="sm:col-12 md:col-6 lg:col-7">
    <app-borrowers-guarantors></app-borrowers-guarantors>
    <app-notes></app-notes>
  </div>
</div>
<div class="grid mb-2 no-gutter" *ngIf="activeStep == 2">
  <div class="sm:col-12 md:col-6 lg:col-5">
    <div class="card">
      <div class="card-body">
        <app-asset-summary></app-asset-summary>
        <app-payment-summary-deatils></app-payment-summary-deatils>
      </div>
    </div>
  </div>
  <div class="sm:col-12 md:col-6 lg:col-7">
    <app-additional-approval></app-additional-approval>
    <app-upload-document></app-upload-document>
    // <app-document-type></app-document-type>
  </div>
</div> -->
