.long-hr {
    margin-top: -0.9rem;
}

.Generated-hr {
    border: none;
    /* Remove default border */
    height: 13px;
    
    margin: 5px 0 10px 0;
    /* Optional: Add margin for spacing around the line */
    width: 18%;
    margin-left: 20% !important;
    border-radius: 2px;
    position: relative;
    z-index: 2;
}

.active-label {
    font-weight: bold;
    border-bottom: solid 5px var(--primary-color);
    ;
}
::ng-deep .hlf{
   margin-bottom:-6px
}