::ng-deep .sole_trade_previous_employeement .p-error {
  text-wrap: auto;
  min-width: 90px;
}
::ng-deep {
  p-dropdown {
    display: block;
    padding: 0 !important;
  }
  label.col-12.py-0 {
    margin-bottom: 14px;
    display: block;
  }
}