.standardPaymentOptions {
  &::ng-deep {
    .p-accordion-header {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
      //   rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .p-accordion-header-link {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background-color: var(--header-bg-color) !important;
      padding: 1rem;

      .p-accordion-header-text {
        font-size: 1rem;
        color: #000;
      }
    }

    .p-icon-wrapper {
      margin-left: auto;
      order: 2;
    }
    .no-underline input {
      border-bottom: none;
    }
  }
}