.custom-dropdown {
    position: relative;
    display: inline-block;
    border: none !important;
    border-radius: 8px;
}

.selected {
    padding: 1.2rem 0 0 1rem;

    cursor: pointer;
    color: #ffffff !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none !important;
    border-radius: 8px;
}

.dropdown-icon {
    font-size: 1rem;
    margin-left: 0.75rem;
}

.options {
    position: absolute;
    background: white;
    border: none;
    margin-top: 4px;
    border-radius: 0.4rem;
    z-index: 1000;
    width: 100%;
    min-width: 10rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.options div {
    padding: 0.625rem;
    cursor: pointer;
}

.options div:hover {
    background: #f0f0f0;
    // border-radius: 0.375rem;
}

::ng-deep {
    .swing-icon {
        .p-avatar-icon {
            animation: swing 1.2s ease-in-out infinite;
            transform-origin: top center;
        }
    }

    // .bell-font {
    //   font-size: 1.3rem;
    //   color: white;
    // }

    .dealer .p-dropdown {
        border-bottom: 0;
        min-width: 14rem;
        width: auto;
        color: white !important;

        // background-color: #ffffff;
        &:hover {
            background-color: transparent;
        }



    }

    .hourglass {
        display: inline-block;
        font-size: 12px;
        /* Adjust size as needed */
        animation: flipHourglass 2s infinite ease-in-out;
    }

    .bell-icon {
        ::ng-deep {
            .p-badge {
                height: 1.25rem;
                min-width: 1.25rem;
                line-height: 1.2rem;
                font-size: 0.7rem;

                // font-size: 0.7rem;
                // top: 0;
                // bottom: auto;
            }
        }
    }

    @keyframes flipHourglass {

        0%,
        100% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }
    }

    .bell-icon {
        &.p-avatar {
            width: 2.3rem;
            height: 2.3rem;
            border: 1.5px solid var(--label-color);
            background-color: white;
            color: var(--primary-color);
            margin-right: 8px;
            cursor: pointer;
        }

        &.p-overlay-badge .p-badge {
            top: 14%;
            // bottom: auto;
            right: 3%;
            background: var(--secondary-color);

            // transform: translate(50%, -50%);
        }

        .p-overlaypanel {
            right: 0;
            top: auto;
        }

        &.p-avatar.p-avatar-circle {
            overflow: visible;
        }
    }

    .hideBadge {
        &.p-overlay-badge .p-badge {
            display: none;
        }
    }
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

::ng-deep .topbar-confirm-dialog .p-dialog-header-close {
    display: none !important;
}

::ng-deep .topbar-confirm-dialog .p-confirm-dialog-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
}

::ng-deep .topbar-confirm-dialog .p-button {
    min-width: 80px;
    font-weight: 600;
    border-radius: 6px;

    .p-button-icon-left {
        display: none;
    }
}

::ng-deep .topbar-confirm-dialog .p-button-primary {
    background-color: #0f86b1;
    border: none;
    color: white;
}

::ng-deep .topbar-confirm-dialog .p-button-outlined {
    border: 0px solid #0f86b1;
    color: #0f86b1;
    background-color: white;
}

::ng-deep .topbar-confirm-dialog .p-confirm-dialog-message {
    font-family: Verdana, Roboto, "Helvetica Neue Light", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    // line-height: 1.5;
}