<div class="main-layout-topbar" [ngClass]="{ expanded: isSidemenuExpanded }">
    <div class="layout-topbar">
        <div class="flex">

            <span class="sidebar-control">
                <i #menubutton (click)="layoutService.onMenuToggle()" class="fa fa-bars"></i></span>

            <a class="layout-topbar-logo py-0">
                <img class="cursor-pointer" src="assets/images/{{
            layoutService.config.colorScheme === 'light'
              ? 'logo-dark'
              : 'logo-white'
          }}.png" alt="logo" />
            </a>
        </div>

        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div #topbarmenu class="layout-topbar-menu" [ngClass]="{
        'layout-topbar-menu-mobile-active':
          layoutService.state.profileSidebarVisible
      }">
            <span class="flex align-items-center sm:px-2 p-0 text-sm layout-text date-wrapper">
                {{ currentServerTimeA }}</span>

            <div class="vertical-line mx-3"></div>

            <div class="bg-white" *ngIf="showFlag">
                <input type="text" pInputText placeholder="Quick Menu Search" [(ngModel)]="searchInput" />
            </div>

            <button class="p-link layout-topbar-button" (click)="onSearchClick(!showFlag)">
                <i class="fa-regular fa-magnifying-glass"></i> <span>Search</span>
            </button>
            <button class="p-link layout-topbar-button pr-0">
                <i class="fa-light fa-grid-2"></i>
            </button>

            <button class="p-link layout-topbar-button" (click)="onSearchClick(!showFlag)">
                <i class="fa-regular fa-arrow-up-right-from-square"></i>
            </button>

            <div class="vertical-line mx-3"></div>

            <div class="bell-icon" [style]="{ position: 'relative' }" #notificationContainer>
                <p-avatar (click)="showNotification($event)" icon="{{
            swingIcon ? 'fa-solid' : 'fa-light'
          }} fa-bell swing-icon bell-font" styleClass="bell-icon {{ swingIcon ? 'swing-icon' : '' }} {{
            notificationValue > 0 ? '' : 'hideBadge'
          }}" shape="circle" pBadge value="{{ notificationValue }}" />
                <app-notification-bell [target]="notificationContainer"></app-notification-bell>
            </div>

            <button class="p-link layout-topbar-button">
                <i class="fa-regular fa-envelope"></i>
            </button>

            <div class="mx-3 border-round-sm">
                <button (click)="showOverlay($event)" class="p-link layout-topbar-button layout-topbar-button-profile">
                    <i class="fa-solid fa-circle-user text-4xl" style="color: white"> </i>
                    <span>profile</span>
                </button>
            </div>
            <div class="flex justify-content-center align-items-center mr-3 text-white">
                {{ userName | titlecase }}
            </div>

            <app-user-profile-overlay></app-user-profile-overlay>
        </div>
    </div>
</div>