/* For the calendar inside gen-table */
.gen-table .calendar {
  position: absolute;
  /* Or relative based on your layout */
  z-index: 10;
  /* Make sure it's not behind other elements */
  top: 100%;
  /* Adjust the position so it doesn't overlap the parent card */
  left: 0;
  width: 100%;
}

/* Ensure the parent card has overflow set to prevent content overflow */
.parent-card {
  position: relative;
  overflow: hidden;
  /* Prevents calendar from overflowing outside the card */
}

.todocompleted {
  ::ng-deep {
    .p-inputtext {
      color: green;
    }
  }
}

.todopending {
  ::ng-deep {
    .p-inputtext {
      color: rgb(255, 196, 0);
    }
  }
}