<!-- <gen-card [cardType]="'border'" [headerText]="'Physical Address'"> -->
  <ng-container body>
    <div class="grid">
      <div class="customerAddress-table col-3 pl-5 py-0 p-input-icon-right ">
        <!-- <label for="street" class="p-float-label">{{ "Search" }}</label> -->
        <!-- <geoapify-geocoder-autocomplete
          [(ngModel)]="physicalSeachValue"
          [placeholder]="'Search'"
          [skipIcons]="true"
          (placeSelect)="placeSelected($event, index)"
          [postprocessingHook]="postprocessingHook"
          (suggestionsChange)="suggestionsChanged($event)"
        ></geoapify-geocoder-autocomplete> -->
        <!-- <form *ngIf="customerRoleForm" [formGroup]="customerRoleForm">
          <geoapify-geocoder-autocomplete
            formControlName="physicalSeachValue"
            name="physicalSeachValue"
            [placeholder]="'Search'"
            [skipIcons]="true"
            (placeSelect)="placeSelected($event, index)"
            [postprocessingHook]="postprocessingHook"
            (suggestionsChange)="suggestionsChanged($event)"
            [filter]="{ countrycode: ['nz'] }"
          ></geoapify-geocoder-autocomplete>
          
        </form>
        <i
        class="fa-solid fa-location-crosshairs fa-lg mt-0"
        
      ></i> -->
      </div>
    </div>
    <div class="physical_address">
    <base-form
      #mainForm
      [formConfig]="formConfig"
      [mode]="mode"
      [id]="id"
      [data]="data"
      (valueChanges)="onValueChanges($event)"
      (onInput)="onValueTyped($event)"
      (formEvent)="onFormEvent($event)"
      (formButtonEvent)="onButtonClick($event)"
      (formReady)="onFormReady()"
      (onInput)="onValueTyped($event)"
      (onBlur)="onBlurEvent($event)"
      (onValueChange)="onValueEvent($event)"
    >
    </base-form>
    </div>
  </ng-container>
<!-- </gen-card> -->
