<div class="layout-sidemenu">
    <nav class="sidebar" [ngClass]="{ expanded: isExpanded || isLocked }" (mouseleave)="onMouseLeave()"
        (mouseenter)="onMouseEnter()">
        <ul>
            <li (click)="onIconClick('menu')" class="nav-item">
                <i class="fa fa-bars"></i>
                <span class="icon-label" *ngIf="isExpanded || isLocked">Menu</span>
                <button class="lock-button" (click)="toggleLock()" *ngIf="isExpanded">
                    <i [ngClass]="{
                        'fa-solid fa-lock': isLocked,
                        'fa fa-unlock-alt': !isLocked
                    }"></i>
                </button>
            </li>
            <li (click)="navigate('/dashboard')" class="nav-item">
                <i class="fa-solid fa-wallet"></i>
                <span class="icon-label" *ngIf="isExpanded || isLocked">Dashboard</span>
            </li>
            <li (click)="navigate('/home')" class="nav-item">
                <i class="fas fa-home"></i>
                <span class="icon-label" *ngIf="isExpanded || isLocked">Home</span>
            </li>
            <li (click)="toggleSubmenu()" class="nav-item">
                <i class="fa-regular fa-chart-bar"></i>
                <span class="icon-label" *ngIf="isExpanded || isLocked">Reports</span>
            </li>

            <app-sub-sidemenu *ngIf="isSubmenuOpen" class="sub-sidemenu"
                [ngClass]="{ expanded: isExpanded || isLocked }" [isExpanded]="isExpanded || isLocked"
                (closeSubmenu)="closeSubmenu()" (navigate)="navigate($event)">
            </app-sub-sidemenu>
        </ul>
    </nav>
</div>

