<div class="card mt-3">
  <div class="card-body p-3">
    <div class="flex flex-wrap flex-justify-between">
      <p class="mt-0 mb-2 text-m font-bold">
        <text [mode]="'label'" [label]="'lbl_workflowStatus'"></text>
      </p>
      <a
        *ngIf="workFlow?.length > 6"
        href="javascript:void(0)"
        class="ml-auto view-toggle flex align-items-center"
        [class.expanded]="showAll"
        (click)="toggleViewAll()"
      >
        <span>{{ showAll ? "View Less" : "View All" }}</span>
        <i class="pi pi-chevron-right ml-1"></i>
      </a>
    </div>

    <div class="grid">
      <div
        [class]="
          isInternalSalesDashboard || isFullWidth
            ? 'sm:col-12 col-12 md:col-2 px-2 py-2'
            : 'sm:col-12 col-12 md:col-6 px-2 py-2'
        "
        *ngFor="let data of (showAll ? workFlow : (workFlow | slice : 0 : 6))"
      >
        <div
          class="bordersummary text-center flex justify-content-between justify-content-center align-items-center border-0 border-round-lg p-1"
        >
          <div
            class="borderunit border-0 border-round-sm p-1"
            style="color: #666666;"
          >
            {{ data?.wf_status || data?.label }}
          </div>

          <div [class]="
          isInternalSalesDashboard || isFullWidth
            ? ''
            : 'amount-section'
        ">
            <p class="m-0 font-bold text-xs">
              {{
                isInternalSalesDashboard
                  ? ((data?.amount ?? data?.amt) | currency)
                  : ((data?.amount ?? data?.amt) | compactK)
              }}
            </p>
            <p class="m-0" style="color: #1d1d1b; font-size: 8px">
              {{ data?.contract_count || data?.count }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>