@media print {
  :host ::ng-deep .printable-gen-table {
    table-layout: fixed !important;
    width: 100% !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(1),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(1) {
    width: 60px !important; min-width: 60px !important; max-width: 60px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(2),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(2) {
    width: 180px !important; min-width: 180px !important; max-width: 180px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(3),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(3) {
    width: 180px !important; min-width: 180px !important; max-width: 180px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(4),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(4) {
    width: 90px !important; min-width: 90px !important; max-width: 90px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(5),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(5) {
    width: 110px !important; min-width: 110px !important; max-width: 110px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(6),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(6) {
    width: 180px !important; min-width: 180px !important; max-width: 180px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(7),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(7) {
    width: 110px !important; min-width: 110px !important; max-width: 110px !important;
  }

  :host ::ng-deep .printable-gen-table thead th:nth-child(8),
  :host ::ng-deep .printable-gen-table tbody td:nth-child(8) {
    width: 60px !important; min-width: 60px !important; max-width: 60px !important;
  }
}
