/* Customizations to the designer theme should be defined here */

.float-right {
  float: right;
}

.text-primary-color {
  color: var(--primary-color);
}

.text-danger-color {
  color: var(--danger-color);

  .p-button.p-button-text {
    color: var(--danger-color);
  }
}

.header-bg-color {
  background-color: var(--background-color-secondary);
}

.primary-light-color {
  background-color: var(--primary-light-color);

  .p-card {
    background-color: var(--primary-light-color) !important;
  }
}

.labelType {
  .p-inputtext {
    border-bottom: none;
  }
}

.primary-background-color {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.yearmonthClass {
  padding-top: 9px !important;
}

.label-color {
  color: var(--label-color);
}

p-progressSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
  position: fixed;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--disable-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--label-color);
  border-radius: 6px;
}

.width-10 {
  width: 10% !important;
}

.p-fileupload .p-fileupload-content {
  background: none;
  padding: 0;
  color: none;
  border: none;
}

.p-fileupload .p-fileupload-buttonbar,
.p-fileupload-content .p-progressbar {
  display: none;
}

.text-wrap {
  text-wrap: wrap;
}

.successStatus {
  background-color: #b7c200;
  color: var(--background-color-primary) !important;
  border-radius: 20px;
  max-width: 200px;
  height: 30px;

  label,
  .p-dropdown {
    color: var(--background-color-primary) !important;
    border-bottom: none;
    background-color: transparent !important;

    .p-inputtext {
      color: var(--background-color-primary) !important;
    }

    .p-dropdown-trigger {
      color: var(--background-color-primary) !important;
    }
  }
}

.gst {
  input {
    text-transform: uppercase !important;
  }
}

.dashboard {
  .lg\:col-10 {
    width: 81%;
  }

  .lg\:col-2 {
    width: 19%;
  }
}

// Start: GeoApify Custom Scss
.customerAddress-table {
  overflow: visible !important;

  .geoapify-close-button {
    display: none;
  }

  .geoapify-autocomplete-items {
    position: absolute;
    // top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    max-height: 300px;
    overflow-y: auto;
    width: 300px;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;

    padding: 0.5rem 0;
  }

  .geoapify-autocomplete-items {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }

  .geoapify-autocomplete-input {
    border: 0px solid #dcdcdc;
    // border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 13px;
    margin-bottom: 0.5rem;
    /* display: block; */
    width: 300px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #ced4da;

    &:focus {
      border-color: #007ad9;
      outline: none;
    }

    &::placeholder {
      color: #666666;
      font-size: 13px;
    }

    .p-inputtext {
      width: 100%;
      height: auto;
    }
  }
}

// End: GeoApify Custom Scss

.paymentScheduleTable {
  .p-datatable-scrollable {
    max-height: 275px; /* Set a max height for scrolling */
    overflow-y: auto;
  }
}
