

.result-container {
  max-height: 40vh;
  overflow-y: auto;
}


.add-new-row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

.tab-header-with-close {
  position: relative;
}

.close-tab-icon {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: #6b7280;
  z-index: 10;
}

