::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-introducer {
  pointer-events: none !important;
}
::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-introducer
  .fa-circle-info {
  pointer-events: auto !important;
}