<h1>Authentication Shell</h1>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a href="http://localhost:4201" target="_blank" routerLinkActive="active">Dealer</a></li>
    <li><a href="http://localhost:4202" target="_blank" routerLinkActive="active">Commercial</a></li>
    <li><a href="http://localhost:4203" target="_blank" routerLinkActive="active">Retail</a></li>
  </ul>
</nav>

<hr>

<router-outlet></router-outlet>