:host ::ng-deep .p-dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px; /* Adjust the width as needed */
}

.mobile-label{
  white-space: nowrap;
}
.disabled {
  pointer-events: none;
}