@if (!userRole?.functions?.includes("average_sale_price")) {
  <div class="card mb-3 p-1 pb-2">
    <div class="flex justify-content-between flex-wrap">
      <p class="pl-2">
        <p-dropdown
          [options]="averageSalesOptions"
          [(ngModel)]="selectedAverageSalesOption"
          optionLabel="name"
          (onChange)="onAverageSalesOptionChange()"
          [style]="{ 'min-width': '200px','font-weight':'bold' }"
        />
      </p>
      <div class="flex align-items-center justify-content-center">
        <div class="flex align-items-center pb-2 mr-2 justify-content-center">
          <p-dropdown
            [options]="timeFilterOptions"
            [(ngModel)]="selectedTimeFilter"
            optionLabel="name"
            (onChange)="onTimeFilterChange()"
            [style]="{ 'font-weight':'bold', 'padding-bottom':'2px'}"
          />
        </div>
        <div class="flex">
          <p class="my-1 mr-1 text-sm">{{ year }}</p>
          <p class="m-0 text-size-8 upDown">
            <i
              class="pi pi-angle-up block cursor-pointer"
              (click)="increment()"
            ></i>
            <i
              class="pi pi-angle-down cursor-pointer"
              (click)="decrement()"
            ></i>
          </p>
        </div>
      </div>
    </div>
    <p-chart
      type="line"
      [data]="data"
      [options]="options"
      style="height: 150px"
    ></p-chart>
  </div>
}
<div class="grid mb-2">
  @if (!userRole?.functions?.includes("fees_and_commission")) {
    <div class="sm:col-6 md:col-6">
      <div class="card">
        <div class="card-body px-3">
          <div class="grid align-items-start">
            <div class="sm:col-12 md:col-5 lg:col-5 border-right-1 w-7rem pt-2">
              <p class="mb-0 text-sm font-bold mb-2">
                <text [mode]="'label'" [label]="'lbl_fees'"></text>
              </p>
              <amount
                class="font-bold text-sm"
                [mode]="'label'"
                [value]="totalFees"
              ></amount>
            </div>

            <div class="sm:col-12 md:col-5 lg:col-5 pt-2 w-6rem">
              <p class="mb-0 text-sm font-bold mb-2">
                <text [mode]="'label'" [label]="'lbl_commission'"></text>
              </p>
              <amount
                class="font-bold text-sm"
                [mode]="'label'"
                [value]="totalCommission"
              ></amount>
            </div>

            <div class="sm:col-12 md:col-2 lg:col-2 pb-2 flex ">
              <p-dropdown
                [options]="feesCommissionTimeOptions"
                [(ngModel)]="selectedFeesCommissionTime"
                optionLabel="name"
                class="w-8rem"
                (onChange)="onFeesCommissionTimeChange()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  }
  @if (!userRole?.functions?.includes("margins_on_loans_paid_out")) {
    <div class="sm:col-6 md:col-6">
      <div class="card">
        <div class="card-body px-3">
          <div class="flex justify-content-between text-sm font-bold">
            <text [mode]="'label'" [label]="'lbl_marginsOut'"></text>
            <p-dropdown
              [options]="feesCommissionTimeOptions"
              [(ngModel)]="selectedMarginsTime"
              optionLabel="name"
              (onChange)="onMarginsTimeChange()"
            />
          </div>
          <p class="text-xs flex pt-1 align-items-center">
            Jan 23 - Nov 23
            <img
              src="assets/images/icon/arrow-up.svg"
              alt="arrow"
              class="ml-5"
            />
            <span class="font-bold ml-1"
              >{{ marginValue | number: "1.0-2" }}%</span
            >
          </p>
        </div>
      </div>
    </div>
  }
</div>
