.float-right {
  float: right;
}
::ng-deep .labelCls{
  label{
  color:var(--label-color) !important;
  }
}

::ng-deep .subtotalBox {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
     font-weight: 600;
    amount {
        display: block;
        width: 100%;
       > div{
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
    }
}
.alert {
  display: flex;
  align-items: flex-start;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid;
  margin-bottom: 1rem;
}

.alert-error {
  background-color: #fdecea;
  border-color: #d32f2f;
  color: #d32f2f;
}

::ng-deep .black-label {
   color: black !important;
  label {
    color: black !important;
  }
}
.disabled {
  pointer-events: none;
  // opacity: 0.6;
}