.adjust-box-size{
    width: 117%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}
  .border-round-md {
    border: 1px solid #ddd; /* Example border, adjust as needed */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding inside the table containers */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  gen-table {
    display: block; /* Important for custom elements to respect width */
    width: 100%;
  }