.tyreInput{
    margin-left: 3.7rem;
}

.serviceAgentDescription{
    width: 170px;
    text-align: right;
}
.tyres-checkbox {
  position: relative;
  
}
.description-box {
  border: 1px solid var(--background-color-secondary);
  border-radius: 6px;
  padding: 0.75rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;

 
}
