<form [formGroup]="emailForm" class="business-email-contact-details-form">
  <ng-container formArrayName="emails">
    <div *ngFor="let email of emails.controls; let i = index">
      <div [formGroupName]="i" class="mt-3">
        <div class="grid -mb-4">
          <div class="col-8 p-fluid">
            <!-- <email  
            formControlName="value"
            (input)="getvalue()"
            labelType="vertical"
            className="-my-2"
            label="Email"> </email> -->
            <!-- <span class="p-float-label">
              <input
                type="text"
                pInputText
                formControlName="value"
                (input)="getvalue()"
                regexPattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$"
              />
              <label class="text-600 mr-3"
                >Email<span
                  class="text-red-500"
                  *ngIf="isRequired(email.controls.value)"
                  >*
                </span></label
              >
            </span> -->
            <!-- <div class="field"> -->
              <label class="text-600 mr-3 ">
                Email
                <span class="text-red-500" *ngIf="isRequired(email.controls.value)"> *</span>
              </label>
              <input
                type="text"
                pInputText
                formControlName="value"
                (input)="getvalue()"
                regexPattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$"
              />
            
 
             <div *ngIf="(email.dirty || email.touched) && email.invalid" class="-mb-1">
              <small
                class="p-error  block mt-1"
                *ngIf="email.get('value').hasError('required')"
                >Email is required</small
              >
              <small
                *ngIf="email.get('value').hasError('pattern')"
                class="p-error  block mt-1"
              >
                Email is in an incorrect format
              </small>
              <small
                *ngIf="email.get('value').hasError('maxlength')"
                class="p-error block mt-1"
              >
              Email should not exceed 50 characters.
              </small>
            </div>
         
          </div>
          <div class="col-3 mt-3" *ngIf="shouldShowCheckbox(i)">
            <p-checkbox
              formControlName="emailChk"
              [binary]="true"
              [label]="'No Email'"
              (onChange)="onCheckboxChange($event, i)"
            ></p-checkbox>
          </div>
          <div class="col-1 mt-4" *ngIf="i != 0">
            <gen-button
              [btnIcon]="'fa fa-trash'"
              [btnType]="'non-bg-btn'"
              (onClick)="removeEmail(i)"
              class="mt-2"
            ></gen-button>
          </div>
        </div>
      </div>
    </div>
 
    <div class="pt-5 -ml-3 mt-2">
      <gen-button
        *ngIf="emails.length < 3"
        [btnLabel]="'Add Other Email'"
        [btnType]="'plus-btn'"
        (onClick)="addOtherEmail()"
        [disabled]="noEmailCheck"
      ></gen-button>
    </div>
  </ng-container>
</form>
 