.sidebar {
    width: 4%;
    height: 90vh;
    position: fixed;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    z-index: 1000;
    /* Border with color */
    border-radius: 10px;
    /* Rounded corners */
    box-sizing: border-box;
    margin-left: 10px;
    float: left;
    transition: width 0.15s ease, background-color 0.15s ease, padding 0.15s ease;
}

.sidebar.expanded {
    width: 20%;
    /* Expanded width */
    z-index: 999;
    position: fixed;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 20px 0 0 16px;
    color: #747474;
    cursor: pointer;
    transition: color 0.3s ease;
    text-wrap: nowrap;

    i {
        font-size: 17px;
    }
}

.nav-item:hover {
    color: #3498db;
}

.icon-label {
    font-size: 17x;
    /* Text label size */
    color: #747474;
    opacity: 1;
    transition: opacity 0.4s ease;
    /* Fade effect */
    margin-left: 15px;
}

.nav-item:hover .icon-label {
    color: #3498db;
}

.sidebar:not(.expanded) .icon-label {
    opacity: 0;
    /* Hide text when not expanded */
}

.sidebar:not(.expanded) .i {
    text-align: center;
    margin-left: 0px;
}

.lock-button {
    // position: absolute;
    // bottom: 95%;
    // left: 85%;
    // margin-top: 5%;
    float: right;
    background: none;
    border: none;
    color: #747474;
    cursor: pointer;
    margin-right: 10px;

    i {
        font-size: 17px;
    }
}

.lock-button:hover {
    color: #3498db;
    /* Highlight on hover */
}

@media (max-width: 991px) {
    .sidebar {
        display: none;
    }
}

.sub-sidemenu {
    position: fixed;
    top: 3%;
    left: 20%;
    height: 90vh;
    width: 18%;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}