<gen-card
  [headerText]="'Asset Details'"
  [cardBgColor]="'--background-color-secondary'"
  [cardType]="'non-border'"
>
  <ng-container body>
    <div class="grid">
      <label class="assetTypelabel col-6 text-size-12 pl-3 mr-1">Asset Type</label>
      <label class="assetTypelabel col-5 text-size-12 text-center">Amount</label>
    </div>
    <form [formGroup]="assetDetailsForm">
      <!-- (onChange)="updateAssetDetails(i)" -->
      <div formArrayName="assetDetails" class="asset-details-form">
        <div
          *ngFor="let asset of assetDetails.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="grid">
            <div class="col-6 align-content-center">
              <div class="grid">
                <div class="col-6 pl-3">
                  <span class="label-text" *ngIf="i <= 2"
                    style="color: var(--label-color)">{{ asset.get("assestType").value }}
                    <!-- <span class="text-red-500">* </span> -->
                  </span>
                  <span class="label-text" *ngIf="i > 2"
                    style="color: var(--label-color)">{{ assetDescriptionMapId.get(asset.get("assestType").value)
                    }}
                    <!-- <span class="text-red-500">* </span> -->
                  </span>
                </div>
                <div class="col-6">
                  @if(i==0){
                  <p-dropdown
                    formControlName="assestHomeOwnerType"
                    [filter]="true"
                    [options]="own"
                    optionLabel="label"
                    optionValue="value"
                    placeholder=""
                    (onChange)="updateAssetDetails(i)"
                     styleClass="w-full"
                    [appendTo]="'body'"
                  ></p-dropdown>
                  <div
                    class="p-error"
                    *ngIf="
                      asset.get('assestHomeOwnerType')?.invalid &&
                      asset.get('assestHomeOwnerType')?.touched
                    "
                  >
                    <small
                      style="text-wrap: nowrap;"
                      *ngIf="asset.get('assestHomeOwnerType').errors?.required"
                      >Ownership Type is required.</small
                    >
                  </div>
                  }
                </div>
              </div>
            </div>
            <div class="col-5 p-fluid">
              <!-- <p-inputNumber [inputStyle]="{ 'text-align': 'right' }" inputId="currency-us" mode="currency"
                currency="USD" locale="en-US" formControlName="amount"
                (ngModelChange)="updateAssetDetails(i)" /> -->

              <amount
                [inputStyle]="{ 'text-align': 'right' }"
                formControlName="amount"
                [value]="amount"
                [mode]="label"
                [fractionDigits]="4"
                [maxFractionDigits]="4"
                (ngModelChange)="updateAssetDetails(i)"
              ></amount>

              <div
                class="p-error"
                *ngIf="
                  asset.get('amount')?.invalid &&
                  (asset.get('amount')?.touched || asset.get('amount')?.dirty)
                "
              >
                <small *ngIf="asset.get('amount').errors?.required"
                  >Amount is required.</small
                >
                <small *ngIf="asset.get('amount').errors?.min"
                  >Amount should be greater than 0.</small
                >
                <small *ngIf="asset.get('amount').errors?.max"
                  >Amount cannot exceed (18,4)</small
                >
                <!-- <small *ngIf="asset.get('amount').errors?.pattern">Must have up to 18 digits before and 2 after the decimal.</small> -->
              </div>
            </div>
            <div class="col-1 text-center">
              <gen-button
                [btnType]="'non-bg-btn'"
                [btnIcon]="'fa-regular fa-trash-can text-lg'"
                [btnColor]="'danger'"
                (onClick)="deleteRow(i)"
                [disabled]="i <= 2"
                >Delete</gen-button
              >
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="col-6 p-fluid">
          <p-dropdown
            formControlName="financialAssetType"
            [filter]="asssetTypeOptions?.length > 5"
            [options]="asssetTypeOptions"
            optionLabel="label"
            optionValue="value"
            placeholder="Other"
            [appendTo]="'body'"
          ></p-dropdown>
        </div>
        <div class="col-5 p-fluid">
          <p-inputNumber
            [inputStyle]="{ 'text-align': 'right' }"
            inputId="currency-us"
            mode="currency"
            currency="USD"
            [minFractionDigits]="2"
            [maxFractionDigits]="4"
            [min]="0"
            locale="en-US"
            formControlName="financialAssetTypeAmount"
          />

          <!-- Add validation error display for financialAssetTypeAmount -->
          <div
            class="p-error"
            *ngIf="
              assetDetailsForm.get('financialAssetTypeAmount')?.invalid &&
              (assetDetailsForm.get('financialAssetTypeAmount')?.touched || assetDetailsForm.get('financialAssetTypeAmount')?.dirty)
            "
          >
            <small
              *ngIf="assetDetailsForm.get('financialAssetTypeAmount').errors?.required"
              >Amount is required.</small
            >
            <small
              *ngIf="assetDetailsForm.get('financialAssetTypeAmount').errors?.min"
              >Amount should be greater than 0.</small
            >
            <small
              *ngIf="assetDetailsForm.get('financialAssetTypeAmount').errors?.max"
              >Amount cannot exceed (18,4)</small
            >
          </div>
        </div>
        <div class="col-1 text-center">
          <gen-button
            [btnType]="'bg-btn'"
            [btnIcon]="'pi pi-angle-right text-lg'"
            (click)="addRow()"
          ></gen-button>
        </div>
      </div>
    </form>
  </ng-container>
</gen-card>
