.action-item {
  transition: background-color 0.3s, color 0.3s;
  padding: 12px 16px;
  white-space: nowrap;
  
}

 .action-item:hover {
        background-color: var(
          --primary-color
        ); 
        color: white;
      }

::ng-deep {
  .p-overlaypanel {
    margin-top: 0 !important;
  }
  .p-overlaypanel-content {
    padding: 5px;
  }
  .p-overlaypanel:after {
    border: none !important;
  }
  .p-overlaypanel:before {
    border: none !important;
  }
}