.card-class {
  width: 700.33px;
}
.table-class {
  color: black;
  background-color: blue;
}
::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:nth-child(1) {
  .row-class-bailment {
    font-weight: 700;
  }
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-bailment {
  pointer-events: none !important;
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-bailment
  .fa-circle-info {
  pointer-events: auto !important;
}

::ng-deep
  .p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr
  .row-class-bailment
  .fa-circle-info {
  pointer-events: auto !important;
}

.scrollable-100 {
  max-height: 150px;
  overflow-y: auto;
}
