<div class="mb-3">
  <div class="card mr-1 ml-1">
    <div class="card-body">
      <!-- Header + Radio buttons in one line -->
      <div class="d-flex align-items-center gap-8 mb-3 ml-2">
        <!-- Current Address Header -->
        <text
          class="text-sm font-bold text-900 web mr-8"
          [mode]="'label'"
          [label]="'lbl_currentAddress'"
        ></text>

        <!-- Custom Radio Buttons -->
        <div class="field-radiobutton ml-8">
          <input
            type="radio"
            id="physical"
            name="addressType"
            value="physical"
            [(ngModel)]="searchType"
            (change)="setAddressData('physicalAddress')"
            class="p-radiobutton"
          />
          <label for="physical" class="ml-2 mt-2 text-sm">
            {{ 'lbl_physical' | translate }}
          </label>
        </div>

        <div class="field-radiobutton ml-4">
          <input
            type="radio"
            id="postal"
            name="addressType"
            value="mailing"
            [(ngModel)]="searchType"
            (change)="setAddressData('postalAddress')"
            class="p-radiobutton"
          />
          <label for="postal" class="ml-2 mt-2 text-sm">
            {{ 'lbl_postalAddress' | translate }}
          </label>
        </div>

        <div class="field-radiobutton ml-8" *ngIf="!isIndividual">
          <input
            type="radio"
            id="registered"
            name="addressType"
            value="reg"
            [(ngModel)]="searchType"
            (change)="setAddressData('registeredAddress')"
            class="p-radiobutton"
          />
          <label for="registered" class="ml-2 mt-2 text-sm">
            {{ 'lbl_registeredAddress' | translate }}
          </label>
        </div>
      </div>

      <!-- Address Data below -->
      <div class="col-3 ml-2">
        <text class="text-sm mt-3" [innerHTML]="addressDetails">
          
        </text>
          <!-- <p class="text-sm mt-3" [innerHTML]="addressDetails"></p> -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="mr-1 ml-1">
      <gen-card>
        <ng-container body>
          <div class="flex ml-2 align-items-center">
             <text mode="label" [label]="'lbl_updateNewAddress'" class="text-sm font-bold text-900 web mt-3 ml-2 mb-3"></text>
          </div>

          <base-form
            class="no-padding"
            #mainForm
            [formConfig]="formConfig"
            [mode]="mode"
            [id]="id"
            [data]="addressDetails"
            (valueChanges)="onValueChanges($event)"
            (formEvent)="onFormEvent($event)"
            (formButtonEvent)="onButtonClick($event)"
            (formReady)="onFormReady()"
            (onInput)="onValueTyped($event)"
            (onBlur)="onBlurEvent($event)"
            (onValueChange)="onValueEvent($event)"
          >
          </base-form>
        </ng-container>
      </gen-card>
    </div>
  </div>
</div>

<div class="mt-3 mb-7">
  <div class="card">
    <div
      class="align-items-center card-body d-flex justify-content-between p-3"
    >
      <gen-button
        (click)="onCancel()"
        [btnType]="'border-btn'"
        [btnLabel]="'Cancel'"
        [btnWidth]="'reset-button-label'"
        class="btn"
      ></gen-button>

      <gen-button
        (onClick)="postAddressTask()"
        [btnType]="'bg-btn'"
        [btnLabel]="'Submit'"
        [btnWidth]="'reset-button-label'"
        class="bg-Btn"
      ></gen-button>
    </div>
  </div>
</div>