.action-item {
  transition: background-color 0.3s, color 0.3s;
}

.action-item-odd {
  background-color: var(--primary-text-color);
}

.action-item {
  background-color: #f7fafc;
}

.action-item:hover {
  background-color: var(
    --primary-color
  ); /* Change to your desired background color */
  color: white; /* Change to your desired text color */
}

.action-item-odd:hover {
  background-color: var(
    --primary-color
  ); /* Change to your desired background color */
  color: white; /* Change to your desired text color */
}
