.verification-options-container {
  max-width: 500px;
  margin: 0 auto;
//   padding: 20px;
  font-family: Arial, sans-serif;

//   .title {
//     text-align: center;
//     margin-bottom: 30px;
//     color: #333;
//     font-size: 24px;
//     font-weight: 600;
//   }

  .options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 5px;
  }

  .option-card {
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: #333f;
      background-color: #f8f9fa;
    }

    &.electronic-option {
      .option-subtitle {
        padding-left: 5px;
      }
    }

    &.manual-option {
      .option-title {
        font-weight: 600;
      }
      .option-subtitle{
        padding-left: 5px;
      }
    }
  }

  .option-header {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

//   .option-radio {
//     margin-top: 2px;
//     accent-color: #007bff;
//   }

  .option-label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    flex: 1;
  }

  .option-title {
    font-size: 14px;
    font-weight: 700;
    // color: #333;
    // margin-bottom: 4px;
  }

  .option-subtitle {
    font-size: 14px;
    // color: #666;
  }

}

// Responsive design
@media (max-width: 768px) {
  .verification-options-container {
    padding: 15px;
    
    .title {
      font-size: 20px;
    }

    .action-buttons {
      flex-direction: column;
      
      .btn {
        width: 100%;
      }
    }
  }
}
// ::ng-deep{
//     button.p-ripple.p-element.p-button.p-component.p-button-outlined {
//     height: 52px;
//     width: 100%;
//     color:var(--label-color)
// }
// }
