<div class="verification-options-container">
  
  <div class="options-wrapper">
    <div class="option-card electronic-option" (click)="electronicClick()">
      <div class="option-header">
        <label for="electronic" class="option-label">
          <span class="option-title">Electronic:</span>
          <span class="option-subtitle">Request electronic verification</span>
        </label>
      </div>
    </div>

    <div class="option-card manual-option" (click)="manualClick()">
      <div class="option-header">
        <label for="manual" class="option-label">
          <span class="option-title">Manual:</span>
          <span class="option-subtitle"> I will upload the documents </span>
        </label>
      </div>
    </div>
  </div>

</div>
<!-- <div class="mb-4">
<gen-button  [btnType]="'border-btn'" [btnLabel]="'Electronic: Request electronic verification'" (onClick)="electronicClick()" ></gen-button>
</div>
<div>
<gen-button [btnType]="'border-btn'" [btnLabel]="'Manual: I will upload the documents'" class="text-xl font-bold" (onClick)="manualClick()" ></gen-button>
</div> -->


