<div class="layout-sidebar">
    <nav class="sidebar">
        <ul>
            <li (click)="onIconClick('menu')" class="nav-item">
                <i class="fa fa-bars"></i>
                <span class="icon-label">Menu</span>
            </li>
            <li (click)="navigate('/dashboard')" class="nav-item">
                <i class="fa fa-line-chart"></i>
                <span class="icon-label">Dashboard</span>
            </li>
            <li (click)="navigate('/home')" class="nav-item">
                <i class="fa fa-home"></i>
                <span class="icon-label">Home</span>
            </li>
        </ul>
    </nav>
</div>

