.p-button-link {
    text-decoration: none; 
	background: none;
	border: none;
}

.p-button-link:hover{
	text-decoration: none;
	background: none;
	border: none;
}

.btn-uniform {
  min-width: 160px;
  text-align: center;
}

  

