::ng-deep .subtotalBox {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    font-weight: 600;
    amount {
        display: block;
        width: 100%;

        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
    }
}

// ::ng-deep gen-card {
//     .p-card {
//         .insuRequire {
//             .ng-star-inserted {
//                 position: relative;
//             }
//             .grid .col-12 {
//                 position: relative;

//                 &:before {
//                   content: "";
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 5.2rem;
//     background-color: #f5f5f5;
//     z-index: 0;
//     border-radius: 8px;
//                 }
//             }
//          .col-12.protectionCls{

//                  &:before {                    
//                     height: 6rem;
//                 }

//              }
//         }
//     }
// }

::ng-deep .subtotalBox {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    color: var(--label-color) !important;

    amount {
        display: block;
        width: 100%;

        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
    }
}

.alert {
    display: flex;
    align-items: flex-start;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
    margin-bottom: 1rem;
}

.alert-error {
    background-color: #fdecea;
    border-color: #d32f2f;
    color: #d32f2f;
}

::ng-deep .black-label {
    color: black !important;

    label {
        color: black !important;
    }
}

::ng-deep {
    gen-card {
        .p-card {
            .insuRequire {
                p-radiobutton {
                    .p-radiobutton-label-active {
                        color: black !important;
                    }
                }

            }

        }

    }



}