.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 1rem;
  text-align: center;
  gap: 1rem;
}

/* Message content styling */
.message-content {
  max-width: 600px;
  width: 100%;
}

.message-title {
  font-weight: bold;
  font-size: 1rem;
  color: var(--primary-border-color);
  margin-bottom: 0;
}

.message-body {
  font-weight: normal;
  font-size: 1rem;
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  padding-top: 0.7rem;
}
