.alert-success {
  background-color: #e6ffed;
  border: 1px solid #2ecc71;
  padding: 10px;
  border-radius: 5px;
  color: #2e7d32;
  margin-bottom: 1rem;
}
// .motocheck-message {
//   display: flex;
//   align-items: center;
//   padding: 10px 16px;
//   border-radius: 6px;
//   font-weight: 500;
//   font-size: 14px;
//   margin-bottom: 1rem;

//   &.success-box {
//     background-color: #e6ffed;
//     border: 1px solid #2e7d32;
//     color: #2e7d32;
//   }


// }
  .message-text {
    margin-left: 7px;
  }
// .success-icon {
//   font-size: 18px;
//   color: #2e7d32;
//   margin-right: 8px;
// }

.alert {
  display: flex;
  align-items: flex-start;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid;
  margin-bottom: 1rem;
}

.alert-error {
  background-color: #fdecea;
  border-color: #d32f2f;
  color: #d32f2f;
}

// .error-icon {
//   font-size: 20px;
//   color: #d32f2f;
//   margin-right: 8px;
//   margin-top: 2px;
// }

.inline-texts {
  display: flex;
  gap: 14rem; 
//   align-items: start;
  margin-left: 40px;
}
::ng-deep.vertical-label label {
   color: var(--label-color);
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}