.incomeprogress {
  .p-progressbar-value {
    background-color: #f2b46a !important;
  }
}

.expenditureprogress {
  .p-progressbar-value {
    background-color: #83b7c8 !important;
  }
}

.assetprogress {
  .p-progressbar-value {
    background-color: #9dceba !important;
  }
}

.liabilitiesprogress {
  .p-progressbar-value {
    background-color: #928aa7 !important;
  }
}
